*.aux
*.gz
*.log
*.out
Exercise1/protocol/authors.tex
Exercise1/protocol/protocol1.pdf

Exercise2/protocol/authors.tex
Exercise2/protocol/protocol2.pdf

Exercise3/protocol/authors.tex
Exercise3/protocol/protocol3.pdf

Exercise4/protocol4/authors.tex
Exercise4/protocol4/protocol4.pdf

Exercise4/protocol5/authors.tex
Exercise4/protocol5/protocol5.pdf

Exercise4/protocol6/authors.tex
Exercise4/protocol6/protocol6.pdf

*.asv
*.r20*
*.slxc
