*.aux
*.gz
*.log
*.out
Exercise1/protocol/authors.tex
Exercise1/protocol/protocol1.pdf

Exercise2/protocol/authors.tex
Exercise2/protocol/protocol2.pdf

Exercise3/protocol/authors.tex
Exercise3/protocol/protocol3.pdf

*.asv
